// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import "~font-awesome/scss/font-awesome.scss";
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
